junk/
__pycache__/
.DS_Store
.mypy_cache/
deploy.sh
docs/
team_mapping_verification.md
Jpred*.tsv
*.db
aggregated_data/
scrape/downloads/
scrape/junk/
scrape/data/
scrape/dir/
scrape/docs/
scrape/tables/
scrape/tmp.html
scrape/*.json
scrape/*.html
