<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css?v=2">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<html>
<head>
    <title>All Entrants</title>
</head>
<body>
    <div class="content">
    <h1><a href="/">JPred {{year}}</a></h1>
    <h2>All Entrants</h2>
    <p>By order of points, J1 exact matches, J2/3 exact matches, J1 points<p>
    <table>
        <thead>
            <tr>
              <th class="center">Rank</th>
              <th class="left">Name</th>
              <th class="center">Points</th>
              <th class="center">Exact<br>Matches<br>J1</th>
              <th class="center">Exact<br>Matches<br>J2/3</th>
              <th class="center">Total<br>Exact<br>Matches</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in ordered_leaderboard %}
        <tr>
            <td class="center" data-label="Rank">{{ loop.index }}</td>
            <td class="left" data-label="Name"><a href="preds/{{ entry[1] }}.html">{{ entry[1] }}</a></td>
            <td class="center" data-label="Points">{{ entry[0] }}</td>
            <td class="center" data-label="J1 Exact">{{ entry[2]["j1_exact"] if entry[2] else "-" }}</td>
            <td class="center" data-label="J2/3 Exact">{{ entry[2]["j2j3_exact"] if entry[2] else "-" }}</td>
            <td class="center" data-label="Total Exact">{{ entry[2]["total_exact"] if entry[2] else "-" }}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>
</html>
