<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<html>
<head>
    <title>{{ name }}'s Predictions</title>
</head>
<body>
    
    <div class="content">
    <h1><a href="/">JPred {{year}}</a></h1>
    <h2>{{ name }}'s Predictions</h2>
    <h3>Total {{ total_score }}</h3>
    {% for league in predictions.keys() %}
    <h2>Predictions for {{ league }}</h2>
    <table border="1">
        <tr>
            <th>Prediction</th>
            <th>Team</th>
            <th>Actual Position</th>
            <th>Score</th>
        </tr>
        {% for prediction in predictions[league]%}
        <tr>
            <td><b>{{ prediction["Prediction"] }}</b></td></td>
            <td>{{ prediction["Team"] }}</td>
            <td>{{ prediction["Position"] }}</td>
            <td>{{ prediction["Score"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endfor %}

    </div>
</body>
</html>
